:root {
  --primary-050: hsl(0, 0%, 14%);
  --primary-100: hsl(0, 0%, 89%);
  --primary-150: hsl(0, 2%, 82%);
  --primary-200: hsl(143, 22%, 41%);
  --primary-300: hsl(55, 27%, 48%);
  --primary-400: hsl(7, 31%, 53%);
  --primary-450: hsl(165, 19%, 34%);
  --base-color-100: rgb(98, 34, 66);
  --base-color-200: hsl(273, 55%, 22%);
  --base-color-300: hsl(170, 47%, 18%);
}
