:root {
  --primary-050: hsl(0, 0%, 14%);
  --primary-100: hsl(0, 0%, 99%);
  --primary-150: hsl(200, 17%, 93%);
  --primary-200: hsl(143, 22%, 41%);
  --primary-300: hsl(55, 27%, 48%);
  --primary-400: hsl(7, 31%, 53%);
  --primary-450: hsl(165, 19%, 34%);
}
